<div class="ad-banner-example" [ngStyle]="adatptstyle">
    <div [className]="model.layout.type" *ngIf="model.layout" >
      <ng-template *ngFor="let child of model.elements" ad-ui-host></ng-template>
      <!-- Just for demo purpose start-->
      <iframe *ngIf="model.name" width="1280" height="720" src="https://www.youtube.com/embed/JOyXT8vgrsY" style="margin: 0px 0px 0px 100px; width: 70vw; height: 80vh;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <!-- Just for demo purpose end-->
    </div>
</div>


