.CardLayout{
  border: 1px solid black;
}
.GridLayout {
  display: grid;
  grid-template-columns: auto auto auto;
}
div{
    /*border: 1px solid black;*/
}
.DefaultLayout{
    height: 100%;
}
.ListLayout{
    height: 100%;
}
.ListLayout::after{
    clear: both;
}
